// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.registration-form {
    h2 {
        color: red;
    }
}

// Form <input> styles

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

p, span {
    font-family: 'Open Sans', sans-serif;
}